numpy
scipy
Pillow
cython
matplotlib
scikit-image==0.16.2
opencv-contrib-python==4.5.4.60
h5py==2.10.0
imgaug
IPython[all]
pandas
seaborn
scikit-learn
fastapi==0.83.0
pydantic
python-multipart
python-dotenv